body {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    margin: 20px;
}

h1,
h2 {
    border-bottom: 5px solid white;
    margin: 20px -20px;
    padding-left: 20px;
    padding-bottom: 5px;
   
}

h1 {
    font-size: 40px;
}

li {
    margin-bottom: 20px;
}

img {
    border-radius: 20px;
    display: block;
}
#title {
    font-size: 80px;
}